@import "../vars";
@import "../mixins";

.budget {
  &__inputs {
    display: grid;
    grid-template-columns: 5fr 150px 3fr;
    gap: 15px;
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }
  &__table {
    border-collapse: collapse;
    width: 450px;
    @include mobile {
      width: 275px;
    }
    &-row {
      border: 1px solid #e4e7e9;
      padding: 20px 0;
      &--head {
        color: #5f6c72;
        border: 1px solid #e4e7e9;
        padding: 25px 0;
        cursor: pointer;
      }
      &--total {
        color: $primaryColor;
        padding: 25px 0;
        font-weight: 500;
        .budget__table-column {
          font-size: 16px;
        }
      }
      &:hover {
        background-color: #f5f5f5;
      }
    }
    &-column {
      text-align: center;
      padding: 10px;
      word-break: break-all;
      @include mobile {
        font-size: 14px;
      }
      &--head {
        font-size: 16px;
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
    &-item {
      td {
        &:first-child,
        &:nth-child(2) {
          width: 50%; // Ширина первого и второго столбца в ряду
        }

        &:last-child {
          width: 10%; // Ширина третьего столбца в ряду
        }
      }
    }
    &-arrow--head {
      margin-left: 10px;
      font-size: 18px;
    }
  }
}
